{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
    <span class='subtitle'>Title</span>
</div>


<main class="container">
    <form method="post" class="form-card">
        {% csrf_token %}
        <input
            id="titulo"
            class="form-card-title"
            type="text"
            name="titulo"
            placeholder="Título"
        />
        <textarea
            id="detalhes"
            class="autoresize"
            name="detalhes"
            placeholder="Digite o conteúdo..."
        ></textarea>
        <button class="btn" type="submit">Criar</button>
    </form>
    <div class="card-container">
        {% for note in notes %}
        <div class="card">
            <h3 class="card-title">{{note.id}}. {{note.title}}</h3>
            <div class="card-content">
                <p>
                    {{note.content}}
                </p>
            </div>
        </div>  
        {% endfor %} 
    </div>
    <form method="post" class="form-edit-card">
        {% csrf_token %}
        <h3 class="form-edit-header">Editar um card</h3>
        <input
            id = "id-edit"
            class="form-edit-id"
            type="text"
            name="id"
            placeholder="ID do Card"
        />
        <input
            id = "titulo-edit"
            class="form-edit-title"
            type="text"
            name="titulo-edit"
            placeholder="Novo Título"
        />
        <textarea
            id = "detalhes-edit"
            class="edit-autoresize"
            name="detalhes-edit"
            placeholder="Digite o novo conteúdo..."
        ></textarea>
        <button class="btn" type="submit">Editar</button>
    </form>

    <form method="post" class="form-delete-card">
        {% csrf_token %}
        <h3 class="form-delete-header">Deletar um card</h3>
        <input
            id = "id-delete"
            class="form-delete-id"
            type="text"
            name="id"
            placeholder="ID do Card"
        />
        <button class="btn" type="submit">Deletar</button>
    </form>

</main>

{% endblock %}
