body {
  background-color: #C9F2FF; 
}

.App {
  text-align: center;
}

.info-box {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.covid-logo {
  width: 25rem;
}

.covid-mask {
  width: 25rem;
}


.btn {
  height: 3rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: #FF1E00;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.19), 0 0.2rem 0.2rem rgba(0,0,0,0.23);
  transition: background-color 0.3s;
  font-size: 1.2rem;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.form-name {
  height: 3rem;
  width: 15rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  font-size: 1.5rem;
}