/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 

html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appbar{
  background-color: #f7d736 ;
  box-shadow: 0 0.3rem 0.4rem rgba(0,0,0,0.3), 0 0.3rem 0.4rem rgba(0,0,0,0.3);
}

.logo{
  width: auto;
  max-width: 20%;
  height: 3rem;
  margin: 0.5rem;
}

.subtitle{
  text-align: center;
  vertical-align: 1.5rem;
}

.form-card {
  background: #fff;
  border-radius: 0.3rem;
  margin: 2rem;
  width: 35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.19), 0 0.5rem 0.5rem rgba(0,0,0,0.23);
}

.form-card-title {
  margin: 0.4rem;
  border: 0;
}

.form-card-title::placeholder {
  font-size: 1.1rem;
  font-weight: bold;
}

.autoresize {
  margin: 0.4rem;
  border: 0;
  size: auto;
}

.autoresize::placeholder {
  font-family: "Roboto", sans-serif;
}

.btn {
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: #f7d736;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.19), 0 0.2rem 0.2rem rgba(0,0,0,0.23);
  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content:space-evenly;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.2rem;
  font-family: 'Permanent Marker', cursive;
  width: 12.5rem;
  height: 7rem;
  border-radius: 0.5rem;
}

.card-color-1{
  background-color:#ead3a7;
}

.card-color-2{
  background-color:#9de0f5 ;
}

.card-color-3{
  background-color:#ef89ba ;
}

.card-color-4{
  background-color:#fae890 ;
}

.card-color-5{
  background-color:#abe9c1 ;
}


.card-rotation-1{
  transform: rotate(-5deg) ;
}

.card-rotation-2{
  transform: rotate(-4deg);
}

.card-rotation-3{
  transform: rotate(-3deg);
}

.card-rotation-4{
  transform: rotate(-2deg);
}

.card-rotation-5{
  transform: rotate(-1deg);
}

.card-rotation-6{
  transform: rotate(6deg);
}

.card-rotation-7{
  transform: rotate(5deg);
}

.card-rotation-8{
  transform: rotate(4deg);
}

.card-rotation-9{
  transform: rotate(3deg);
}

.card-rotation-10{
  transform: rotate(2deg);
} 

.card-rotation-11{
  transform: rotate(1deg);
}


.card-title{
  position: absolute;
  top: 0.5rem;
  left: 0.9rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #2c2c2c;
}

.card-content{
  display:flex;
  justify-content:center;
  align-items:center;
  width:12.5rem;
  height:7rem;
}

.card-content p{
  margin: 2rem 0.9rem 0 0.9rem;
  font-size: 0.8rem;
  color: #4c4c4c;
}

.form-edit-card {
  background: #fff;
  border-radius: 0.3rem;
  margin: 2rem;
  width: 35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.19), 0 0.5rem 0.5rem rgba(0,0,0,0.23);
}

.form-edit-header {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.form-edit-id {
  margin: 0.4rem;
  border: 0;
}

.form-edit-id::placeholder {
  font-size: 1rem;
  font-weight: bold;
}

.form-edit-title {
  margin: 0.4rem;
  border: 0;
}

.form-edit-title::placeholder {
  font-size: 1rem;
  font-weight: bold;
}

.edit-autoresize {
  margin: 0.4rem;
  border: 0;
  size: auto;
}

.edit-autoresize::placeholder {
  font-family: "Roboto", sans-serif;
}

.form-delete-card {
  background: #fff;
  border-radius: 0.3rem;
  margin: 2rem;
  width: 35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.19), 0 0.5rem 0.5rem rgba(0,0,0,0.23);
}

.form-delete-header {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.form-delete-id {
  margin: 0.4rem;
  border: 0;
}

.form-delete-id::placeholder {
  font-size: 1rem;
  font-weight: bold;
}



/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
