p { 
    color: #7a7c7f; 
    font-size: 1.5rem; 
    font-family: "Libre Baskerville", serif; 
    line-height: 2rem; 
    text-align: justify; 
    text-justify: inter-word;
    text-shadow: 0 1px 1px #fff;
    margin: 1.5rem;
}

a {
    color: #3DB2FF;
}

.authors {
    /* color: #b48608;  */
    color: #FFB830;
    font-family: 'Droid serif', serif; 
    font-size: 1rem; 
    font-weight: 100; 
    font-style: italic; 
    line-height: 1.5rem; 
    margin-left: 1rem; 
    text-align: left;
}